## Random Forest

Random Forest is an ensemble of Decision Trees. With a few exceptions, a `RandomForestClassifier` has all the hyperparameters of a `DecisionTreeClassifier` (to control how trees are grown), plus all the hyperparameters of a `BaggingClassifier` to control the ensemble itself.

The Random Forest algorithm introduces extra randomness when growing trees; instead of searching for the very best feature when splitting a node, it searches for the best feature among a random subset of features. This results in a greater tree diversity, which (once again) trades a higher bias for a lower variance, generally yielding an overall better model. The following `BaggingClassifier` is roughly equivalent to the previous `RandomForestClassifier`. Run the cell below to visualize a single estimator from a random forest model, using the Iris dataset to classify the data into the appropriate species.

In [3]:
from sklearn.datasets import load_iris
iris = load_iris()

# Model (can also use single decision tree)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10)

# Train
model.fit(iris.data, iris.target)
# Extract single tree
estimator = model.estimators_[5]

from sklearn.tree import export_graphviz
# Export as dot file
export_graphviz(estimator, out_file='tree.dot', 
                feature_names = iris.feature_names,
                class_names = iris.target_names,
                rounded = True, proportion = False, 
                precision = 2, filled = True)

# Convert to png using system command (requires Graphviz)
from subprocess import call
call(['dot', '-Tpng', 'tree.dot', '-o', 'tree.png', '-Gdpi=600'])

# Display in jupyter notebook
from IPython.display import Image
Image(filename = 'tree.png')

FileNotFoundError: [WinError 2] The system cannot find the file specified

Notice how each split seperates the data into buckets of similar observations. This is a single tree and a relatively simple classification dataset, but the same method is used in a more complex dataset with greater depth to the trees.

## Coronavirus
Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell. An outbreak of COVID-19 started in December 2019 and at the time of the creation of this project was continuing to spread throughout the world. Many governments recommended only essential outings to public places and closed most business that do not serve food or sell essential items. An excellent [spatial dashboard](https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6) built by Johns Hopkins shows the daily confirmed cases by country. 

This case study was designed to drive home the important role that data science plays in real-world situations like this pandemic. This case study uses the Random Forest Classifier and a dataset from the South Korean cases of COVID-19 provided on [Kaggle](https://www.kaggle.com/kimjihoo/coronavirusdataset) to encourage research on this important topic. The goal of the case study is to build a Random Forest Classifier to predict the 'state' of the patient.

First, please load the needed packages and modules into Python. Next, load the data into a pandas dataframe for ease of use.

In [1]:
import os
import pandas as pd
from datetime import datetime,timedelta
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import plotly.graph_objects as go
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
url ='SouthKoreacoronavirusdataset/PatientInfo.csv'
df = pd.read_csv(url)
df.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released

In [3]:
df.shape

(2218, 18)

In [4]:
#Counts of null values 
na_df=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)).reset_index()
na_df.columns = ['VarName', 'NullCount']
na_df[(na_df['NullCount']>0)]

               VarName  NullCount
0              disease       2199
1        deceased_date       2186
2      infection_order       2176
3   symptom_onset_date       2025
4        released_date       1995
5       contact_number       1807
6          infected_by       1749
7       infection_case       1055
8           global_num        904
9           birth_year        454
10                 age        261
11                 sex        145
12      confirmed_date        141
13               state         88
14                city         65

In [5]:
#counts of response variable values
df.state.value_counts()

isolated    1791
released     307
deceased      32
Name: state, dtype: int64

 **<font color='teal'> Create a new column named 'n_age' which is the calculated age based on the birth year column.</font>**

In [9]:
df['n_age']=2021-df['birth_year']
df.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state,n_age
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released,57.0
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released,34.0
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released,57.0
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released,30.0
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released,29.0

### Handle Missing Values

 **<font color='teal'> Print the number of missing values by column.</font>**

In [10]:
print(df.isnull().sum() )

patient_id               0
global_num             904
sex                    145
birth_year             454
age                    261
country                  0
province                 0
city                    65
disease               2199
infection_case        1055
infection_order       2176
infected_by           1749
contact_number        1807
symptom_onset_date    2025
confirmed_date         141
released_date         1995
deceased_date         2186
state                   88
n_age                  454
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          2218 non-null   int64
 1   global_num          1314 non-null   float64
 2   sex                 2073 non-null   object
 3   birth_year          1764 non-null   float64
 4   age                 1957 non-null   object
 5   country             2218 non-null   object
 6   province            2218 non-null   object
 7   city                2153 non-null   object
 8   disease             19 non-null     object
 9   infection_case      1163 non-null   object
 10  infection_order     42 non-null     float64
 11  infected_by         469 non-null    float64
 12  contact_number      411 non-null    float64
 13  symptom_onset_date  193 non-null    object
 14  confirmed_date      2077 non-null   object
 15  released_date       223 non-null    object
 16  deceased_date       32 non-null     object
 17  state               2130 non-null   object
 18  n_age               1764 non-null   float64
dtypes: float64(6), int64(1), object(12)
memory usage: 329.4+ KB

 **<font color='teal'> Fill the 'disease' missing values with 0 and remap the True values to 1.</font>**

In [12]:
print(df['disease'].value_counts(), '\n')

True    19
Name: disease, dtype: int64

In [13]:
df['disease'] = df['disease'].map( {np.nan: 0, True: 1})
print(df['disease'].value_counts())

0    2199
1      19
Name: disease, dtype: int64

 **<font color='teal'> Fill null values in the following columns with their mean: 'global_number','birth_year','infection_order','infected_by'and 'contact_number'</font>**

In [15]:
cols=['global_num','birth_year','infection_order','infected_by','contact_number']
print(df[cols].info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   global_num       1314 non-null   float64
 1   birth_year       1764 non-null   float64
 2   infection_order  42 non-null     float64
 3   infected_by      469 non-null    float64
 4   contact_number   411 non-null    float64
dtypes: float64(5)
memory usage: 86.8 KB
None

In [16]:
means=df[cols].mean()
print(means,'\n')

global_num         4.664817e+03
birth_year         1.974989e+03
infection_order    2.285714e+00
infected_by        2.600789e+09
contact_number     2.412895e+01
dtype: float64

In [17]:
df[cols] = df[cols].fillna(value=means)
print(df[cols].info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   global_num       2218 non-null   float64
 1   birth_year       2218 non-null   float64
 2   infection_order  2218 non-null   float64
 3   infected_by      2218 non-null   float64
 4   contact_number   2218 non-null   float64
dtypes: float64(5)
memory usage: 86.8 KB
None

In [18]:
[print(df[col].value_counts()) for col in cols]

4664.816591    904
907.000000       2
1753.000000      2
7982.000000      2
2769.000000      2
              ...
7829.000000      1
8134.000000      1
7151.000000      1
5397.000000      1
2.000000         1
Name: global_num, Length: 1304, dtype: int64
1974.988662    454
1969.000000     54
1995.000000     51
1998.000000     47
1996.000000     45
              ...
2019.000000      2
1927.000000      2
1925.000000      1
1931.000000      1
1916.000000      1
Name: birth_year, Length: 97, dtype: int64
2.285714    2176
2.000000      19
1.000000      11
3.000000       6
5.000000       3
4.000000       2
6.000000       1
Name: infection_order, dtype: int64
2.600789e+09    1749
2.000000e+09      44
4.100000e+09      27
4.100000e+09      21
2.000000e+09      17
                ...
2.000000e+09       1
6.023000e+09       1
4.100000e+09       1
1.100000e+09       1
2.000000e+09       1
Name: infected_by, Length: 207, dtype: int64
24.128954      1807
0.000000         47
2.000000         44
3.000000         42
1.000000         34
               ...
117.000000        1
1160.000000       1
84.000000         1
174.000000        1
75.000000         1
Name: contact_number, Length: 73, dtype: int64

[None, None, None, None, None]

 **<font color='teal'> Fill the rest of the missing values with any method.</font>**

In [19]:
print(df.isnull().sum().sort_values(ascending=False))

deceased_date         2186
symptom_onset_date    2025
released_date         1995
infection_case        1055
n_age                  454
age                    261
sex                    145
confirmed_date         141
state                   88
city                    65
contact_number           0
infected_by              0
infection_order          0
disease                  0
province                 0
country                  0
birth_year               0
global_num               0
patient_id               0
dtype: int64

In [21]:
['deceased_date', 'symptom_onset_date', 'released_date', 'infection_case',   'n_age'

SyntaxError: unexpected EOF while parsing (<ipython-input-21-daa837e831e1>, line 1)

In [20]:
cols2=['deceased_date', 'symptom_onset_date', 'released_date', 'infection_case', 
       'n_age', 'age', 'sex', 'confirmed_date', 'state', 'city']
[print(df[col].value_counts(),'\n') for col in cols2]

2020-02-23    4
2020-03-02    3
2020-03-09    3
2020-03-04    3
2020-03-05    3
2020-03-01    3
2020-02-25    2
2020-03-07    2
2020-03-19    2
2020-02-19    1
2020-02-21    1
2020-02-26    1
2020-03-06    1
2020-03-03    1
2020-02-24    1
2020-02-27    1
Name: deceased_date, dtype: int64

2020-02-27    19
2020-02-24    12
2020-03-09    12
2020-02-22    12
2020-02-25    12
2020-03-10    10
2020-02-26     9
2020-03-11     8
2020-03-06     8
2020-03-07     8
2020-02-23     8
2020-02-21     6
2020-03-08     6
2020-03-12     6
2020-03-04     5
2020-03-16     4
2020-02-20     4
2020-03-05     4
2020-02-29     4
2020-03-15     4
2020-03-02     4
2020-02-18     3
2020-03-13     3
2020-03-01     2
2020-02-13     2
2020-02-15     2
2020-02-28     2
2020-03-17     2
2020-02-11     2
2020-02-19     2
2020-01-27     1
2020-03-03     1
2020-02-06     1
2020-01-26     1
2020-01-22     1
2020-03-14     1
2020-01-19     1
2020-01-31     1
Name: symptom_onset_date, dtype: int64

2020-03-13    23
2020-03-14    23
2020-03-11    18
2020-03-16    17
2020-03-18    15
2020-03-12    15
2020-03-17    14
2020-03-04    14
2020-03-06    10
2020-03-03     9
2020-03-15     9
2020-03-10     7
2020-03-05     5
2020-03-09     4
2020-02-24     4
2020-02-12     3
2020-02-27     3
2020-03-02     3
2020-03-07     3
2020-03-08     2
2020-03-19     2
2020-02-19     2
2020-02-26     2
2020-02-18     2
2020-02-15     2
2020-02-20     2
2020-02-29     2
2020-02-10     1
2020-02-17     1
2020-02-05     1
2020-02-06     1
2020-02-28     1
2020-02-21     1
2020-02-09     1
2020-03-01     1
Name: released_date, dtype: int64

contact with patient                530
etc                                 220
Guro-gu Call Center                 102
Shincheonji Church                   86
overseas inflow                      61
Onchun Church                        33
gym facility in Cheonan              30
Ministry of Oceans and Fisheries     27
Cheongdo Daenam Hospital             21
Dongan Church                        17
Eunpyeong St. Mary's Hospital        14
Seongdong-gu APT                     13
gym facility in Sejong                4
Suyeong-gu Kindergarten               3
River of Grace Community Church       1
Pilgrimage to Israel                  1
Name: infection_case, dtype: int64

52.0     54
26.0     51
23.0     47
22.0     45
25.0     45
         ..
93.0      2
94.0      2
96.0      1
105.0     1
90.0      1
Name: n_age, Length: 96, dtype: int64

20s     467
50s     385
40s     303
30s     251
60s     229
70s     117
80s      84
10s      74
0s       29
90s      17
100s      1
Name: age, dtype: int64

female    1171
male       902
Name: sex, dtype: int64

2020-03-01    133
2020-02-28    125
2020-02-26    123
2020-03-03    113
2020-03-04    106
2020-02-27    106
2020-03-05    102
2020-02-29     99
2020-03-06     97
2020-03-10     94
2020-02-25     93
2020-02-23     71
2020-02-22     70
2020-03-09     69
2020-03-02     66
2020-02-24     56
2020-03-07     54
2020-03-08     53
2020-03-16     53
2020-03-11     49
2020-02-20     41
2020-03-12     37
2020-03-15     36
2020-03-13     35
2020-02-21     33
2020-03-17     33
2020-03-18     32
2020-03-14     31
2020-02-19     28
2020-02-18      9
2020-02-05      5
2020-01-31      4
2020-02-09      3
2020-02-02      3
2020-01-30      3
2020-02-06      2
2020-02-16      2
2020-01-27      1
2020-02-04      1
2020-01-20      1
2020-02-07      1
2020-02-01      1
2020-01-26      1
2020-02-10      1
2020-01-23      1
Name: confirmed_date, dtype: int64

isolated    1791
released     307
deceased      32
Name: state, dtype: int64

Gyeongsan-si       535
Cheonan-si          98
Seongnam-si         89
Bonghwa-gun         60
Gumi-si             59
                  ...
Gwangyang-si         1
Anseong-si           1
Jeungpyeong-gun      1
Hamyang-gun          1
pocheon-si           1
Name: city, Length: 134, dtype: int64

[None, None, None, None, None, None, None, None, None, None]

##### For these columns, fill na with XXXXXXXXXXXXXXXXXXXXXXXXXXX
'deceased_date', 'symptom_onset_date', and 'released_date'

In [26]:
cols3 = ['deceased_date', 'symptom_onset_date', 'released_date']
print(df[cols3].info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   deceased_date       32 non-null     object
 1   symptom_onset_date  193 non-null    object
 2   released_date       223 non-null    object
dtypes: object(3)
memory usage: 52.1+ KB
None

In [29]:
[print( df.loc[df[col].isnull()].sample(15)  ) for col in cols3]

      patient_id   global_num     sex   birth_year  age country  \
902   3009000005  4664.816591  female  1970.000000  50s   Korea
1709  6006000009  4664.816591    male  1994.000000  20s   Korea
645   2000000057  4944.000000    male  1989.000000  30s   Korea
221   1000000222  7965.000000    male  1964.000000  50s   Korea
1693  6004000058  4664.816591    male  1974.988662  60s   Korea
1076  6001000002    73.000000  female  2001.000000  10s   Korea
1085  6001000011   238.000000    male  1966.000000  50s   Korea
1350  6001000276  4870.000000    male  1997.000000  20s   Korea
1722  6007000001  4664.816591    male  1960.000000  60s   Korea
596   2000000008    25.000000  female  1946.000000  70s   Korea
1090  6001000016   532.000000    male  1957.000000  60s   Korea
411   1200000070    70.000000  female  1972.000000  40s   Korea
334   1100000053  4664.816591  female  1992.000000  20s   Korea
737   2000000149  7262.000000    male  1997.000000  20s   Korea
1922  6016000011  4664.816591     NaN  1974.988662  NaN   Korea

              province          city  disease        infection_case  \
902         Gangwon-do      Wonju-si        0  contact with patient
1709  Gyeongsangbuk-do   Gimcheon-si        0                   NaN
645        Gyeonggi-do   Hwaseong-si        0                   etc
221              Seoul    Gangbuk-gu        0       overseas inflow
1693  Gyeongsangbuk-do       Gumi-si        0                   NaN
1076  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
1085  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
1350  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
1722  Gyeongsangbuk-do  Mungyeong-si        0                   NaN
596        Gyeonggi-do    Siheung-si        0  contact with patient
1090  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
411              Daegu           NaN        0                   NaN
334              Busan     Sasang-gu        0                   etc
737        Gyeonggi-do    pocheon-si        0  contact with patient
1922  Gyeongsangbuk-do   Yecheon-gun        0                   NaN

      infection_order   infected_by  contact_number symptom_onset_date  \
902          2.285714  2.600789e+09       17.000000                NaN
1709         2.285714  2.600789e+09       24.128954                NaN
645          2.285714  2.600789e+09       24.128954                NaN
221          2.285714  2.600789e+09       24.128954                NaN
1693         2.285714  2.600789e+09       24.128954                NaN
1076         2.285714  2.600789e+09        2.000000                NaN
1085         2.285714  2.600789e+09        2.000000                NaN
1350         2.285714  2.600789e+09       24.128954                NaN
1722         2.285714  2.600789e+09       24.128954                NaN
596          2.000000  2.000000e+09       12.000000                NaN
1090         2.285714  2.600789e+09        1.000000                NaN
411          2.285714  2.600789e+09       24.128954                NaN
334          2.285714  2.600789e+09       30.000000                NaN
737          2.285714  2.600789e+09       24.128954                NaN
1922         2.285714  2.600789e+09       24.128954                NaN

     confirmed_date released_date deceased_date     state  n_age
902      2020-03-01           NaN           NaN  isolated   51.0
1709     2020-02-29           NaN           NaN  isolated   27.0
645      2020-03-03           NaN           NaN  isolated   32.0
221      2020-03-12           NaN           NaN  isolated   57.0
1693     2020-03-16           NaN           NaN  isolated    NaN
1076     2020-02-19           NaN           NaN  isolated   20.0
1085     2020-02-21           NaN           NaN  isolated   55.0
1350     2020-03-03           NaN           NaN  isolated   24.0
1722     2020-02-21           NaN           NaN  isolated   61.0
596      2020-02-09    2020-03-05           NaN  released   75.0
1090     2020-02-22           NaN           NaN  isolated   64.0
411      2020-02-20           NaN           NaN  isolated   49.0
334      2020-02-25           NaN           NaN  released   29.0
737      2020-03-08           NaN           NaN  isolated   24.0
1922            NaN           NaN           NaN  isolated    NaN
      patient_id   global_num     sex   birth_year  age country  \
822   2000000234  8246.000000  female  1966.000000  NaN   Korea
1813  6010000013  4664.816591    male  1974.988662  50s   Korea
1871  6014000001  4664.816591  female  1959.000000  60s   Korea
618   2000000030   652.000000    male  1995.000000  20s   Korea
1927  6016000016  4664.816591     NaN  1974.988662  NaN   Korea
499   1500000004  1256.000000  female  1974.988662  40s   Korea
2122  6023000041  4664.816591  female  1974.988662  60s   Korea
1151  6001000077  1932.000000    male  1997.000000  20s   Korea
313   1100000032  4664.816591  female  1999.000000  20s   Korea
1817  6010000017  4664.816591  female  1974.988662  20s   Korea
1195  6001000121  3008.000000  female  1992.000000  20s   Korea
1585  6001000511  7860.000000    male  1997.000000  20s   Korea
1996  6020000009  4664.816591    male  1974.988662  60s   Korea
238   1000000239  8059.000000    male  1994.000000  20s   Korea
615   2000000027   647.000000  female  2018.000000   0s   Korea

              province           city  disease            infection_case  \
822        Gyeonggi-do    Seongnam-si        0      contact with patient
1813  Gyeongsangbuk-do    Seongju-gun        0                       NaN
1871  Gyeongsangbuk-do     Yeongju-si        0                       NaN
618        Gyeonggi-do     Pocheon-si        0      contact with patient
1927  Gyeongsangbuk-do    Yecheon-gun        0                       NaN
499            Daejeon     Yuseong-gu        0                       etc
2122  Gyeongsangbuk-do      Pohang-si        0      contact with patient
1151  Gyeongsangbuk-do   Gyeongsan-si        0                       NaN
313              Busan     Dongnae-gu        0             Onchun Church
1817  Gyeongsangbuk-do    Seongju-gun        0                       NaN
1195  Gyeongsangbuk-do   Gyeongsan-si        0                       NaN
1585  Gyeongsangbuk-do   Gyeongsan-si        0                       NaN
1996  Gyeongsangbuk-do   Cheongdo-gun        0  Cheongdo Daenam Hospital
238              Seoul  Dongdaemun-gu        0             Dongan Church
615        Gyeonggi-do       Gimpo-si        0      contact with patient

      infection_order   infected_by  contact_number symptom_onset_date  \
822          2.285714  2.000000e+09       24.128954                NaN
1813         2.285714  2.600789e+09       24.128954                NaN
1871         2.285714  2.600789e+09       11.000000                NaN
618          2.285714  2.000000e+09       24.128954                NaN
1927         2.285714  2.600789e+09       24.128954                NaN
499          2.285714  2.600789e+09       46.000000                NaN
2122         2.285714  2.600789e+09       24.128954                NaN
1151         2.285714  2.600789e+09       24.128954                NaN
313          2.285714  2.600789e+09        5.000000                NaN
1817         2.285714  2.600789e+09       24.128954                NaN
1195         2.285714  2.600789e+09       24.128954                NaN
1585         2.285714  2.600789e+09       24.128954                NaN
1996         2.285714  2.600789e+09       24.128954                NaN
238          2.285714  2.600789e+09       24.128954                NaN
615          2.285714  2.600789e+09       24.128954                NaN

     confirmed_date released_date deceased_date     state  n_age
822      2020-03-16           NaN           NaN       NaN   55.0
1813     2020-03-01           NaN           NaN  isolated    NaN
1871     2020-02-22           NaN           NaN  isolated   62.0
618      2020-02-24           NaN           NaN  isolated   26.0
1927            NaN           NaN           NaN  isolated    NaN
499      2020-02-26    2020-03-02           NaN  released    NaN
2122     2020-03-06           NaN           NaN  isolated    NaN
1151     2020-02-26           NaN           NaN  isolated   24.0
313      2020-02-23           NaN           NaN  isolated   22.0
1817     2020-03-04           NaN           NaN  isolated    NaN
1195     2020-02-28           NaN           NaN  isolated   29.0
1585     2020-03-11           NaN           NaN  isolated   24.0
1996     2020-02-21           NaN           NaN  isolated    NaN
238      2020-03-13           NaN           NaN  isolated   27.0
615      2020-02-24           NaN           NaN  isolated    3.0
      patient_id   global_num     sex   birth_year  age country  \
1259  6001000185  4156.000000  female  1998.000000  20s   Korea
1210  6001000136  3297.000000  female  1959.000000  60s   Korea
313   1100000032  4664.816591  female  1999.000000  20s   Korea
251   1000000252  8717.000000    male  1982.000000  30s   Korea
1355  6001000281  5206.000000    male  1994.000000  20s   Korea
246   1000000247  8096.000000    male  1969.000000  50s   Korea
2005  6020000018  4664.816591  female  1974.988662  50s   Korea
660   2000000072  2181.000000    male  1961.000000  50s   Korea
1257  6001000183  4102.000000    male  1961.000000  50s   Korea
722   2000000134  6517.000000  female  1984.000000  30s   Korea
243   1000000244  8102.000000  female  1959.000000  60s   Korea
538   1600000021  4664.816591  female  1964.000000  50s   Korea
1334  6001000260  5282.000000  female  1996.000000  20s   Korea
619   2000000031   651.000000    male  1998.000000  20s   Korea
253   1000000254  8192.000000  female  1939.000000  80s   Korea

              province          city  disease        infection_case  \
1259  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
1210  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
313              Busan    Dongnae-gu        0         Onchun Church
251              Seoul    Gangseo-gu        0                   etc
1355  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
246              Seoul       Guro-gu        0       overseas inflow
2005  Gyeongsangbuk-do  Cheongdo-gun        0                   NaN
660        Gyeonggi-do   Hwaseong-si        0                   etc
1257  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
722        Gyeonggi-do     Yongin-si        0  contact with patient
243              Seoul     Dobong-gu        0         Dongan Church
538              Ulsan        Buk-gu        0  contact with patient
1334  Gyeongsangbuk-do  Gyeongsan-si        0                   NaN
619        Gyeonggi-do    Pocheon-si        0  contact with patient
253              Seoul  Eunpyeong-gu        0   Guro-gu Call Center

      infection_order   infected_by  contact_number symptom_onset_date  \
1259         2.285714  2.600789e+09       24.128954                NaN
1210         2.285714  2.600789e+09       24.128954                NaN
313          2.285714  2.600789e+09        5.000000                NaN
251          2.285714  2.600789e+09       24.128954         2020-03-12
1355         2.285714  2.600789e+09       24.128954                NaN
246          2.285714  2.600789e+09       24.128954                NaN
2005         2.285714  2.600789e+09       24.128954                NaN
660          2.285714  2.600789e+09       24.128954                NaN
1257         2.285714  2.600789e+09       24.128954                NaN
722          2.285714  2.600789e+09       24.128954                NaN
243          2.285714  2.600789e+09       24.128954                NaN
538          2.285714  2.600789e+09       24.128954                NaN
1334         2.285714  2.600789e+09       24.128954                NaN
619          2.285714  2.000000e+09       24.128954                NaN
253          2.285714  2.600789e+09       24.128954         2020-03-15

     confirmed_date released_date deceased_date     state  n_age
1259     2020-03-01           NaN           NaN  isolated   23.0
1210     2020-02-29           NaN           NaN  isolated   62.0
313      2020-02-23           NaN           NaN  isolated   22.0
251      2020-03-15           NaN           NaN  isolated   39.0
1355     2020-03-03           NaN           NaN  isolated   27.0
246      2020-03-14           NaN           NaN  isolated   52.0
2005     2020-02-26           NaN           NaN  isolated    NaN
660      2020-02-28           NaN           NaN  isolated   60.0
1257     2020-03-01           NaN           NaN  isolated   60.0
722      2020-03-06           NaN           NaN  isolated   37.0
243      2020-03-14           NaN           NaN  isolated   62.0
538      2020-03-03           NaN           NaN  isolated   57.0
1334     2020-03-03           NaN           NaN  isolated   25.0
619      2020-02-24           NaN           NaN  isolated   23.0
253      2020-03-15           NaN           NaN  isolated   82.0

[None, None, None]

##### For this columns, fill na with XXXXXXXXXXXXXXXXXXXXXXXXXXX
'infection_case'

In [25]:
cols4 = ['infection_case']
print(df[cols4].info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   infection_case  1163 non-null   object
dtypes: object(1)
memory usage: 17.5+ KB
None

##### For this columns, fill na with  XXXXXXXXXXXXXXXXXXXXXXXXXXX
 'n_age'

In [26]:
cols5 = ['n_age']
print(df[cols5].info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   n_age   1764 non-null   float64
dtypes: float64(1)
memory usage: 17.5 KB
None

##### For these columns, fill na with the mode (most frequently occuring value)
'age', 'sex', 'confirmed_date', 'state', and 'city'

In [141]:
mode_cols=['age', 'sex', 'confirmed_date', 'state', 'city']
modes=df[mode_cols].mode().T
modes=pd.Series(modes[0])
print(modes,'\n')

print(df[mode_cols].info())

age                        20s
sex                     female
confirmed_date      2020-03-01
state                 isolated
city              Gyeongsan-si
Name: 0, dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1957 non-null   object
 1   sex             2073 non-null   object
 2   confirmed_date  2077 non-null   object
 3   state           2130 non-null   object
 4   city            2153 non-null   object
dtypes: object(5)
memory usage: 86.8+ KB
None

In [142]:
df[mode_cols] = df[mode_cols].fillna(value=modes)
df[mode_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             2218 non-null   object
 1   sex             2218 non-null   object
 2   confirmed_date  2218 non-null   object
 3   state           2218 non-null   object
 4   city            2218 non-null   object
dtypes: object(5)
memory usage: 86.8+ KB

In [143]:
[print( df[col].value_counts(),'\n' ) for col in mode_cols]

20s     728
50s     385
40s     303
30s     251
60s     229
70s     117
80s      84
10s      74
0s       29
90s      17
100s      1
Name: age, dtype: int64

female    1316
male       902
Name: sex, dtype: int64

2020-03-01    274
2020-02-28    125
2020-02-26    123
2020-03-03    113
2020-02-27    106
2020-03-04    106
2020-03-05    102
2020-02-29     99
2020-03-06     97
2020-03-10     94
2020-02-25     93
2020-02-23     71
2020-02-22     70
2020-03-09     69
2020-03-02     66
2020-02-24     56
2020-03-07     54
2020-03-08     53
2020-03-16     53
2020-03-11     49
2020-02-20     41
2020-03-12     37
2020-03-15     36
2020-03-13     35
2020-02-21     33
2020-03-17     33
2020-03-18     32
2020-03-14     31
2020-02-19     28
2020-02-18      9
2020-02-05      5
2020-01-31      4
2020-02-09      3
2020-01-30      3
2020-02-02      3
2020-02-16      2
2020-02-06      2
2020-02-04      1
2020-01-20      1
2020-01-27      1
2020-01-26      1
2020-02-10      1
2020-01-23      1
2020-02-07      1
2020-02-01      1
Name: confirmed_date, dtype: int64

isolated    1879
released     307
deceased      32
Name: state, dtype: int64

Gyeongsan-si    600
Cheonan-si       98
Seongnam-si      89
Bonghwa-gun      60
Gumi-si          59
               ...
Guri-si           1
Danyang-gun       1
Gyeryong-si       1
Hanam-si          1
Namhae-gun        1
Name: city, Length: 134, dtype: int64

[None, None, None, None, None]

 **<font color='teal'> Check for any remaining null values.</font>**

In [ ]:
df.head()

Remove date columns from the data.

In [ ]:
df = df.drop(['symptom_onset_date','confirmed_date','released_date','deceased_date'],axis =1)

Review the count of unique values by column.

In [ ]:
print(df.nunique())

Review the percent of unique values by column.

In [ ]:
print(df.nunique()/df.shape[0])

Review the range of values per column.

In [ ]:
df.describe().T

### Check for duplicated rows

In [ ]:
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

Print the categorical columns and their associated levels.

In [ ]:
dfo = df.select_dtypes(include=['object'], exclude=['datetime'])
dfo.shape
#get levels for all variables
vn = pd.DataFrame(dfo.nunique()).reset_index()
vn.columns = ['VarName', 'LevelsCount']
vn.sort_values(by='LevelsCount', ascending =False)
vn

**<font color='teal'> Plot the correlation heat map for the features.</font>**

**<font color='teal'> Plot the boxplots to check for outliers. </font>**

**<font color='teal'> Create dummy features for object type features. </font>**

### Split the data into test and train subsamples

In [ ]:
from sklearn.model_selection import train_test_split

# dont forget to define your X and y

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

### Scale data to prep for model creation

In [ ]:
#scale data
from sklearn import preprocessing
import numpy as np
# build scaler based on training data and apply it to test data to then also scale the test data
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [ ]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,roc_auc_score
from sklearn.metrics import accuracy_score,log_loss
from matplotlib import pyplot

### Fit Random Forest Classifier
The fit model shows an overall accuracy of 80% which is great and indicates our model was effectively able to identify the status of a patients in the South Korea dataset.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=300, random_state = 1,n_jobs=-1)
model_res = clf.fit(X_train_scaled, y_train)
y_pred = model_res.predict(X_test_scaled)
y_pred_prob = model_res.predict_proba(X_test_scaled)
lr_probs = y_pred_prob[:,1]
ac = accuracy_score(y_test, y_pred)

f1 = f1_score(y_test, y_pred, average='weighted')
cm = confusion_matrix(y_test, y_pred)

print('Random Forest: Accuracy=%.3f' % (ac))

print('Random Forest: f1-score=%.3f' % (f1))

### Create Confusion Matrix Plots
Confusion matrices are great ways to review your model performance for a multi-class classification problem. Being able to identify which class the misclassified observations end up in is a great way to determine if you need to build additional features to improve your overall model. In the example below we plot a regular counts confusion matrix as well as a weighted percent confusion matrix. The percent confusion matrix is particulary helpful when you have unbalanced class sizes.

In [ ]:
class_names=['isolated','released','missing','deceased'] # name  of classes

In [ ]:
import itertools
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.tight_layout()


# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, y_pred)
np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names,
                      title='Confusion matrix, without normalization')
#plt.savefig('figures/RF_cm_multi_class.png')

# Plot normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names, normalize=True,
                      title='Normalized confusion matrix')
#plt.savefig('figures/RF_cm_proportion_multi_class.png', bbox_inches="tight")
plt.show()

### Plot feature importances
The random forest algorithm can be used as a regression or classification model. In either case it tends to be a bit of a black box, where understanding what's happening under the hood can be difficult. Plotting the feature importances is one way that you can gain a perspective on which features are driving the model predictions.

In [ ]:
feature_importance = clf.feature_importances_
# make importances relative to max importance
feature_importance = 100.0 * (feature_importance / feature_importance.max())[:30]
sorted_idx = np.argsort(feature_importance)[:30]

pos = np.arange(sorted_idx.shape[0]) + .5
print(pos.size)
sorted_idx.size
plt.figure(figsize=(10,10))
plt.barh(pos, feature_importance[sorted_idx], align='center')
plt.yticks(pos, X.columns[sorted_idx])
plt.xlabel('Relative Importance')
plt.title('Variable Importance')
plt.show()

The popularity of random forest is primarily due to how well it performs in a multitude of data situations. It tends to handle highly correlated features well, where as a linear regression model would not. In this case study we demonstrate the performance ability even with only a few features and almost all of them being highly correlated with each other.
Random Forest is also used as an efficient way to investigate the importance of a set of features with a large data set. Consider random forest to be one of your first choices when building a decision tree, especially for multiclass classifications.